@CHARSET "UTF-8";
#carousel {
border: 1px solid black;
    width: 480px;
    height: 308px;
    overflow:hidden;
}
#carousel ul {
    padding: 0;
    margin: 0;
}

#carousel ul li {
    width:480px;
    height: 308px;
    list-style: none;
    float:  left;
}
#carousel ul li.red div.ticketDetail{
	height: 286px;
    border-bottom:10px solid rgb(247,0,0);
}
#carousel ul li.yellow div.ticketDetail{
	height: 286px;
    border-bottom:10px solid yellow;
}

#carousel  ul li.red{
	background:  #EDEDED; color: black; font-weight: 400; font-size: 16px;	
/* 	opacity:0.6; */
/*   	filter:alpha(opacity=60); For IE8 and earlier */
}
#carousel ul li.yellow{
	background: #EDEDED; color: black; font-weight: 400; font-size: 16px;
}
#carousel ul li.blue{
	background: blue; color: white; font-weight: 400; font-size: 16px;
}

#countTotal{
	border: 1px solid black;
	display: inline-block;
	width: 480px;
	height: 28px;
	padding-bottom: 9px;
	background-color: #BABABA;
}

#countTotal div{
	border: 1px solid #999;
	float: right;
	width: 20px;
	text-align: center;
	padding: 8px;
	margin-right: 1px;
}

#countTotal div.red{ background-color: red; color: white;}
#countTotal div.yellow{ background-color: yellow; color: black;}
#countTotal div.blue{ background-color: blue; color: white;}